/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Gerais */
body {
    background-color: #d3d3d3; /* Cinza claro */
}

/* Estilos para o cabeçalho */
header {
    background-color: #01c511; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno superior e inferior */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: background-color 0.3s ease; /* Transição suave de cor */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header:hover {
    background-color: #388e3c; /* Nova cor ao passar o mouse por cima */
}
.navbar-brand {
    font-weight: bold; /* Negrito para o texto do logo */
}

.navbar-nav .nav-link {
    color: #fff; /* Cor do texto dos links */
}

/* Conteúdo do Dashboard */
h1 {
    text-align: center;
    margin-bottom: 30px;
}

/* Estilos para o contêiner */
.container {
    margin-top: 50px;
}
