body {

  background-color: white;
}
h1 {
  text-align: center;
  
}
.container {
  margin-top: 50px;
}

.card {
  margin-bottom: 20px;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}



/*footer css*/

footer {
  background-color: #999999;
  color: #fff;
  padding: 6px;
  text-align: center;
  width: 100%;
  align-self: flex-end;
}
#lastUpdated {
  font-size: 14px;
}